<li class="media">
  <div class="media-body">
    <h5 class="mt-0 article__title"><a href={{ url}} target="_blank">{{title}}</a>
    {{#if status}} <span class="badge badge-secondary">New</span> {{/if}} </h5>
    <p class="article__attributes">{{publishedDate}} | {{department}} | {{type}} </p>
    <p class="article__summary">{{summary}}</p>
  </div>
</li>